{% extends "layout.twig" %}
{% block hero %}
<div id="hero">
        <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
        <video playsinline preload="yes" id="video-background" autoplay="" loop="" muted="" playsinline="" poster="assets/img/poster.jpg" class="loaded" style="opacity: 1;">
        <source src="./assets/videos/vdo.mp4">
      </video>
        <div class="container">
            <div class="row top-bar load">
                <div class="logo small-12 medium-4 large-7 columns text-center">
                    <a href="/">
                        <img src="./assets/Razzaq-Capital-Logo-White.png">
                    </a>
                </div>
                <div class="small-12 medium-8 large-5 contact-us align-self-middle columns">
                    {% for item in menu %}
                        <a class="hero-link" href="{{item.to|e}}">{{ item.title|e }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row intro-copy align-bottom">
                <div class="small-12 medium-12 large-offset-7 columns load  faded-black">
                    <h1><span>Innovation</span><span>Capitalized.</span></h1>
                    <p>A Chicago-based, investment holding company that acquires, builds, and operates middle-market businesses.</p>
                </div>
                <div class="small-12 medium-6 large-7 columns load">
                    <a class="down-arrow stop-animation" href="https://www.razzaqcapital.com/#approach"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contents %}
    <div class="approach bg-white text-dark">
        <div class="container">
            <div class="row align-center">
                <div class="small-12 medium-12 large-10 columns">
                    <h3 class="hidden-section">WELCOME TO RAZZAQ CAPITAL HOLDING</h3>
                    <p class="hidden-section">
                        Established in 2018 to consolidate the investments of our shareholders, Razzaq Capital currently manages a diversified portfolio of its companies in technology, pharmaceuticals, manufacturing and distribution of consumer product goods and real-estate assets.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="office"></div>
    <div class="approach" id="mission">
        <div class="container">
            <div class="row align-center">
                <div class="small-12 medium-12 large-10 columns">
                    <h3 class="hidden-section">Purpose</h3>
                    <p class="hidden-section">
                        More than just capital. We are committed to building sustainable growth and long-term value where it really matters: our communities, our businesses and our partnerships.
{#                        Everything we have done—from the culture we have nurtured, the funds we have created and the platform we have built—has been in support of that singular goal.#}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="approach bg-white text-dark" id="world">
        <div class="container">
            <div class="row align-center">
                <div class="section-inner">
                    <h3 class="hidden-section">OUR STRATEGY RELIES ON DIVERSIFICATION</h3>
                    <p class="hidden-section">
                        Worldwide Mandate
                    </p>
                    <h3 class="hidden-section" style="max-width: 500px">
                        We chose to mitigate our risk through diversification, which is why we invest across various regions and sectors.
                    </h3>

                    <div class="map-plugin js-gsap-fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                        <div class="wrap_svl_center">
                            <div class="wrap_svl_center_box">
                                <div class="wrap_svl">
                                    <div class="images_wrap">
                                        <img src="/assets/img/map.png" alt="World Map">
                                    </div>
                                    <div class="drag_element tips " style="top:36.00%;left:22.44%;">
                                        <div class="point_style"></div>
                                    </div>
                                    <div class="drag_element tips " style="top:41.83%;left:14.01%;">
                                        <div class="point_style"></div>
                                    </div>
                                    <div class="drag_element tips " style="top:47.82%;left:61.83%;">
                                        <div class="point_style"></div>
                                    </div>

                                    <div class="drag_element tips " style="top: 48%;left: 72%;">
                                        <div class="point_style"></div>
                                    </div>
                                    <div class="drag_element tips " style="top:42.49%;left:56.75%;">
                                        <div class="point_style"></div>
                                    </div>
                                    <div class="drag_element tips " style="top: 49%;left: 68%;">
                                        <div class="point_style"></div>
                                    </div>
                                    <div class="drag_element tips " style="top: 42.9%;left: 66.5%;">
                                        <div class="point_style"></div>
                                    </div>

                                    <div class="drag_element tips " style="top: 27.17%;left: 46.30%;">
                                        <div class="point_style"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section " id="helping" style="display: none">
        <div class="container semi-full-screen">
            <div class="row align-center">
                <div class="small-12 medium-10">
                    <div class="typerr">
                        <h1><span>Helping <br>Companies</span><br><span class="typed"></span></h1>
{#                        <h1><span>Capital is just the first step.</span></h1>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="companies" class="hidden" style="display: none">
        <div class="">
            <div class="row ">
                <div class="container text-center m-p-25" style="width: 100%">
                    <div class="small-12">
                        <!-- <h3 class="subtitle">New chicago Capital Website</h3> -->
                        <h1 class="title">Our Portfolio.</h1>
                    </div>
                </div>
            </div>
            <div class="row no-padding" style="max-width: unset">
                <div class="small-6 medium-3 colorize">
                    <a href="http://scanhalal.org" target="_blank">
                        <img src="./assets/img/Scan-Halal.png" alt="scan halal" style="padding: 30px">
                    </a>
                </div>
                <div class="small-6 medium-3 colorize">
                    <a href="http://sunnahbar.com" target="_blank">
                        <img src="./assets/img/Sunnah-Bar.png" alt="sunnah bar">
                    </a>
                </div>
                <div class="small-6 medium-3 colorize">
                    <a href="http://zackies.com" target="_blank">
                        <img src="./assets/img/Zackies.png" alt="zackies">
                    </a>
                </div>
                <div class="small-6 medium-3 colorize">
                    <a href="http://minavitamins.com" target="_blank">
                        <img src="./assets/img/Mina-Vitamins.png" alt="minavitamins" style="padding: 30px">
                    </a>
                </div>
                <div class="small-6 medium-3 colorize">
                    <a href="http://minavitamins.com" target="_blank">
                        <img src="./assets/img/5197.png" alt="minavitamins">
                    </a>
                </div>
                <div class="small-6 medium-3 colorize show-for-small-only">
                    <a href="http://minavitamins.com" target="_blank">
                        <img src="./assets/img/5197.png" alt="minavitamins" style="visibility: hidden">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="arriving" class="hidden-section" data-threshold="60">
        <div class="main-mtn-bg" style="transform: scale(1);"></div>
        <div class="container">
            <div class="row align-center">
                <div class="small-12 medium-12 large-10 columns">
                    <h3 class="hidden-section cyan">Our Approach</h3>
                </div>
            </div>
            <div class="row align-center">
                <div class="small-12 medium-12 large-10 columns">
                    <div class="row" id="under">
                        <div class="small-12 hidden columns">
                            <p style="font-size: 1.2rem;text-align: left;margin-top: 2.5rem">
                                Razzaq Capital investment strategy is to have a well-diversified portfolio and to translate each business opportunity into mutually beneficial relationships, working with similarly focused companies and teams, leveraging our own experience and diverse capabilities to ensure long-term benefits for all stakeholders.
                            </p>

                        </div>
                    </div>
                    <!-- <h3 class="hidden">New chicago Capital Website</h3> -->
{#                    <h1 class="title hidden" style="color: #fff;font-size: 3rem">Capital is just the first step</h1>#}
{#                    <h5 class="title hidden text-center" style="color: #fff;font-size: 1.5rem">Investment alone only gets you so far. Razzaq Capital offers world-class management teams to realize the full potential of their companies.</h5>#}
                    <div class="row">
                        <div class="small-12 hidden columns">
                            <h1 class="title hidden" style="color: #fff; font-size: 2rem;text-align: left">Investment Areas.</h1>
                        </div>
                    </div>

                    <div class="row" id="ia">
                        <div class="medium-1 hidden"></div>
                        <div class="medium-4 hidden">

                            <div class="flex">
                                <div class="sq">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="15.305 10.052 123 123" xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" role="presentation" aria-hidden="true">
                                        <g>
                                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <span>Technology (SaaS, PaaS)</span>
                            </div>

                            <div class="flex">
                                <div class="sq">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="15.305 10.052 123 123" xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" role="presentation" aria-hidden="true">
                                        <g>
                                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <span>Healthcare and Pharma</span>
                            </div>

                            <div class="flex">
                                <div class="sq">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="15.305 10.052 123 123" xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" role="presentation" aria-hidden="true">
                                        <g>
                                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <span>Logistics and Transportation</span>
                            </div>

                        </div>

                        <div class="medium-1 hidden"></div>
                        <div class="medium-5 hidden">

                            <div class="flex">
                                <div class="sq">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="15.305 10.052 123 123" xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" role="presentation" aria-hidden="true">
                                        <g>
                                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <span>Manufacturing and Agriculture
</span>
                            </div>

                            <div class="flex">
                                <div class="sq">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="15.305 10.052 123 123" xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" role="presentation" aria-hidden="true">
                                        <g>
                                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <span>Real Estate
</span>
                            </div>

                            <div class="flex">
                                <div class="sq">
                                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="15.305 10.052 123 123" xmlns="http://www.w3.org/2000/svg" viewBox="15.305 10.052 123 123" role="presentation" aria-hidden="true">
                                        <g>
                                            <path d="M138.305 10.052v123h-123v-123h123z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <span>Consumer Product Goods</span>
                            </div>

                        </div>



                        <div class="medium-1 hidden"></div>
                    </div>

                    <div class="laptop" style="transform: translateY(-50px);display: none">
                        <div class="mountain-bg">
                            <div class="bg" style="width: 1903px; height: 977.406px; transform: translateX(-726.484px) translateY(-356.687px) scale(1);"></div>
                        </div>
                        <img class="macbook" src="./assets/macbook2.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="./assets/es5.js"></script>
<script>
        function bd(){
            var browser = browserDetect();
            (browser.mobile && browser.name == 'safari') ? $("body").addClass('safari') : $("body").removeClass('safari');
        }
        $(function() {
            bd();
            $(window).on("resize", function (e) {
                console.log("window resized");
                bd();
            });
            new TypeIt(".typed", {
                strings: ["making an impact.", "move at full speed.", "break down barriers.", "disrupt industries."],
                speed: 100,
                loop: !0,
                loopDelay: 500,
                breakLines: !1,
                cursor: !1
            }).go()
            //$(".colorize").height($(".colorize").width());
        });
    </script>
    <script type="text/javascript" src="/assets/app.js"></script>

{% endblock %}