{% extends "layout.twig" %}
{% block contents %}
    <div id="companies">
        <div class="container">
            <div class="row ">
                <div class=" text-left">
                    <div class="small-12">
                        <!-- <h3 class="subtitle">New chicago Capital Website</h3> -->
                        <h1 class="page-title">Our Team.</h1>
                    </div>
                </div>
            </div>
            <div class="row no-padding">
                <div class="small-12">
                    <div class="people-list">

                        <figure class="team-member fadein-animation item-loaded">
                            <img src="/assets/img/me.png" alt="">
                            <figcaption class="figcaption">
                                <span class="name">Anas Razzaq</span>
                                <span class="title">CEO, Chairman</span>
                            </figcaption>
                            <a class="overlay" href="#">
                                <div class="text">
                                    <span class="name">Anas Razzaq</span>
                                    <span class="title">CEO, Chairman</span>
                                    <p class="invisible">Adam is a Partner based in New York.</p>

                                    <span class="link read-more-btn" href="/our-team/adam-weiner/">Read more<span class="icon font-ico-arrow"></span></span>
                                </div>
                            </a>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <img src="/assets/img/Furq-min.png" alt="">
                            <figcaption class="figcaption">
                                <span class="name">Furqan Mohammed</span>
                                <span class="title">Legal Director</span>
                            </figcaption>
                            <a class="overlay" href="#">
                                <div class="text">
                                    <span class="name">Furqan Mohammed</span>
                                    <span class="title">Legal Director</span>
                                    <p class="invisible">Adam is a Partner based in New York.</p>

                                    <span class="link read-more-btn" href="/our-team/adam-weiner/">Read more<span class="icon font-ico-arrow"></span></span>
                                </div>
                            </a>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <img src="/assets/img/DrAnas.jpg" alt="">
                            <figcaption class="figcaption">
                                <span class="name">Anas Elshafei M.D.</span>
                                <span class="title">Senior Adviser</span>
                            </figcaption>
                            <a class="overlay" href="#">
                                <div class="text">
                                    <span class="name">Anas Elshafei M.D.</span>
                                    <span class="title">Senior Adviser</span>
                                    <p class="invisible">Adam is a Partner based in New York.</p>

                                    <span class="link read-more-btn" href="/our-team/adam-weiner/">Read more<span class="icon font-ico-arrow"></span></span>
                                </div>
                            </a>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <img src="/assets/img/team3-min.jpg" alt="">
                            <figcaption class="figcaption">
                                <span class="name">Asif Dada</span>
                                <span class="title">Senior Adviser</span>
                            </figcaption>
                            <a class="overlay" href="#">
                                <div class="text">
                                    <span class="name">Asif Dada</span>
                                    <span class="title">Senior Adviser</span>
                                    <p class="invisible">Adam is a Partner based in New York.</p>

                                    <span class="link read-more-btn" href="/our-team/adam-weiner/">Read more<span class="icon font-ico-arrow"></span></span>
                                </div>
                            </a>
                        </figure>





                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}