{% extends "layout.twig" %}
{% block contents %}
    <div id="companies">
        <div class="container">
            <div class="row ">
                <div class=" text-left">
                    <div class="small-12">
                        <!-- <h3 class="subtitle">New chicago Capital Website</h3> -->
                        <h1 class="page-title">Our Team.</h1>
                    </div>
                </div>
            </div>
            <div class="row no-padding">
                <div class="small-12">
                    <div class="people-list">

                        <figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                                <img src="/assets/img/IMG_6699-min.jpg" alt="Anas Razzaq">
                            </div>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Anas Razzaq</span>
                                    <span class="title">Chairman</span>
{#                                    <span class="link read-more-btn" href="/our-team/adam-weiner/">Read more<span class="icon font-ico-arrow"></span></span>#}
                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Anas Razzaq</span>
                                <span class="title">Chairman</span>
                            </div>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                                <img src="/assets/img/Furqan Headshot_1080x1080-min.jpg" alt="Furqan Mohammed" />
                            </div>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Furqan Mohammed</span>
                                    <span class="title">Legal & Compliance Director</span>
                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Furqan Mohammed</span>
                                <span class="title">Legal & Compliance Director</span>
                            </div>
                        </figure>
                        {#<figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                            <img src="/assets/img/DrAnas.jpg" alt="">
                            </div>
                            <figcaption class="figcaption">
                                <span class="name">Anas Elshafei M.D.</span>
                                <span class="title">Senior Adviser</span>
                            </figcaption>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Anas Elshafei M.D.</span>
                                    <span class="title">Senior Adviser</span>



                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Anas Elshafei M.D.</span>
                                <span class="title">Senior Adviser</span>
                            </div>
                        </figure>#}
                        <figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                                <img src="/assets/img/Asif Headshot 4_1080x1080-min.jpg" alt="Asif Dada">
                            </div>
                            <figcaption class="figcaption">
                                <span class="name">Asif Dada</span>
                                <span class="title">Senior Adviser</span>
                            </figcaption>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Asif Dada</span>
                                    <span class="title">Senior Adviser</span>


                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Asif Dada</span>
                                <span class="title">Senior Adviser</span>
                            </div>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                                <img src="/assets/img/Iyas Headshot 5_1080x1080-min.jpg" alt="Iyas Abuhasna">
                            </div>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Iyas Abuhasna</span>
                                    <span class="title">Marketing Director</span>
                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Iyas Abuhasna</span>
                                <span class="title">Marketing Director</span>
                            </div>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                                <img src="/assets/img/Ahmer Headshot 2024_1080x1080-min.jpg" alt="Ahmer Sharif">
                            </div>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Ahmer Sharif, CPA </span>
                                    <span class="title">Chief Financial Officer</span>
                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Ahmer Sharif, CPA </span>
                                <span class="title">Chief Financial Officer</span>
                            </div>
                        </figure>
                        <figure class="team-member fadein-animation item-loaded">
                            <div class="img-wrap">
                                <img src="/assets/img/Said Abuhasna Headshot_1080x1080-min.jpg" alt="Said Abuhasna">
                            </div>
                            <a class="overlay" href="javascript:void(0)">
                                <div class="text">
                                    <span class="name">Said Abuhasna, MD</span>
                                    <span class="title">Senior Adviser</span>
                                </div>
                            </a>
                            <div class="under">
                                <span class="name">Said Abuhasna, MD</span>
                                <span class="title">Senior Adviser</span>
                            </div>
                        </figure>





                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}