@font-face {
    font-family: GilroyExtraBold;
    src: url(fonts/Gilroy-ExtraBold.otf);
}

.typed {    
    transition: 0.5s;
}



#hero a.hero-link:hover {
    text-shadow: none;
}

#hero a.down-arrow {
    border-radius: 200px;
    border: 1px solid rgba(185, 168, 153, 0.8)
}

h3.subtitle {
    font-size: .8em;
    color: #ff6664;
    font-weight: bold;
    letter-spacing: 3px;
}

h1.title {
    font-size: 4.6875em;
    text-align: center;
    color: #1b1924;
    font-family: GilroyExtraBold;
}

#companies .colorize img {
    top: 50%;
    display: table-cell;
    filter: grayscale(100);
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    vertical-align: middle;    
}

#companies .colorize:hover img {
    filter: grayscale(0);
    opacity: 1;
}

.section {
    padding: 150px 0;
}

body {
    color: #e6e6e6;
}

.typerr h1 {
    font-family: GilroyExtraBold;
    font-size: 100px;
    line-height: 1.2;    
}

#helping {
    padding-top: 0%;
}

.typerr {
    padding: 15px;
}

.typerr .typed {
    width: 100%;
    color: #ff6664;
}

.faded-black {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.colorize {
    border: 1px solid #c4c4c4;
    border-right: none;
}

.colorize a {
    vertical-align: middle;
    display: table-cell;
}

div#companies {
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 25px;
}

.m-p-25 {
    padding-left: 25px;
}

#office{    
    background: url('/assets/img/office.jpg') no-repeat center fixed;
    background-size:cover;
    padding: 350px 0;
}
@font-face {
    font-family: futura-pt;
    src: url(fonts/futura-pt.woff2);    
  }

.static-page div#hero {
    height: auto;
}

.static-page #hero .top-bar {
    padding-bottom: 10px;
    padding-top: 20px;
}

.static-page p, .static-page h1.page-title {
    color: #0a0a0a;
    font-family: futura-pt;
}
.static-page h1.page-title {
    letter-spacing: 0.159091em;
    font-size: 2.8em;
    font-weight: 400;
    padding-top:80px;
    padding-bottom:80px;
}

body.safari #office{
    background-attachment: scroll;
}



@media (max-width: 768px) {
    /* MOBILE */
    .typerr h1 {
        font-size: 3rem;
        min-height: 250px;
    }
    #companies .colorize img {
        filter: none;
        opacity: 1;
    }
    .colorize {
        /* border: 1px solid #c4c4c4; */
        padding: 30px;
    }
    .m-p-25 {
        padding-left: 20px;
    }
    h1.title {
        font-size: 2.5rem;
    }    
}



@media print, screen and (min-width: 37.5em){ /*desktop only*/
    .small-6.medium-3.colorize {
        flex: 0 0 20%;
        max-width:20%;
    }
    .colorize {
        height: 204px !important;
        max-height: 204px !important;
        text-align: center;
        display: table;
    }
    
    .colorize a {
        display: table-cell;
        text-align: center;
    }
    
    #companies .colorize img {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        max-width: 215px;
        max-height: 200px;
    }
}
