@font-face {
    font-family: GilroyExtraBold;
    src: url(fonts/Gilroy-ExtraBold.otf);
}

.typed {    
    transition: 0.5s;
}



#hero a.hero-link:hover {
    text-shadow: none;
}

#hero a.down-arrow {
    border-radius: 200px;
    border: 1px solid rgba(185, 168, 153, 0.8)
}

h3.subtitle {
    font-size: .8em;
    color: #ff6664;
    font-weight: bold;
    letter-spacing: 3px;
}

h1.title {
    font-size: 4.6875em;
    text-align: center;
    color: #1b1924;
    font-family: GilroyExtraBold;
}

#companies .colorize img {
    top: 50%;
    display: table-cell;
    filter: grayscale(100);
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    vertical-align: middle;    
}

#companies .colorize:hover img {
    filter: grayscale(0);
    opacity: 1;
}

.section {
    padding: 150px 0;
}

body {
    color: #e6e6e6;
}

.typerr h1 {
    font-family: GilroyExtraBold;
    font-size: 100px;
    line-height: 1.2;    
}

#helping {
    padding-top: 0%;
}

.typerr {
    padding: 15px;
}

.typerr .typed {
    width: 100%;
    color: #ff6664;
}

.faded-black {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.colorize {
    border: 1px solid #c4c4c4;
    border-right: none;
}

.colorize a {
    vertical-align: middle;
    display: table-cell;
}

div#companies {
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 25px;
}

.m-p-25 {
    padding-left: 25px;
}

#office{    
    background: url('/assets/img/office.jpg') no-repeat center fixed;
    background-size:cover;
    padding: 350px 0;
}
@font-face {
    font-family: futura-pt;
    src: url(fonts/futura-pt.woff2);    
  }

.static-page div#hero {
    height: auto;
}

.static-page #hero .top-bar {
    padding-bottom: 10px;
    padding-top: 20px;
}

.static-page p, .static-page h1.page-title {
    color: #0a0a0a;
    font-family: futura-pt;
}
.static-page h1.page-title {
    letter-spacing: 0.159091em;
    font-size: 2.8em;
    font-weight: 400;
    padding-top:80px;
    padding-bottom:80px;
}

body.safari #office{
    background-attachment: scroll;
}



@media (max-width: 768px) {
    /* MOBILE */
    .typerr h1 {
        font-size: 3rem;
        min-height: 250px;
    }
    #companies .colorize img {
        filter: none;
        opacity: 1;
    }
    .colorize {
        /* border: 1px solid #c4c4c4; */
        padding: 30px;
    }
    .m-p-25 {
        padding-left: 20px;
    }
    h1.title {
        font-size: 2.5rem;
    }    
}

.people-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%
}

.people-list .center-block {
    text-align: center;
    width: 100%
}

.people-list .center-block span {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px
}

.people-list .center-block p {
    color: #fff;

    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0;
    padding: 35px 25px 30px;
    position: relative;
    line-height: 50px;
    width: 100%;
    -webkit-font-smoothing: antialiased
}

@media only screen and (min-width: 992px)and (max-width:1440px) {
    .people-list .center-block p {
        padding:0;
        padding-bottom: 20px
    }
}

@media only screen and (min-width: 320px)and (max-width:350px) {
    .people-list .center-block p {
        line-height:40px
    }
}

@media only screen and (min-width: 768px)and (max-width:991px) {
    .people-list .center-block p {
        padding:0 15px
    }

    .people-list .center-block span {
        position: relative;
        top: 30px;
        left: 0
    }
}

@media only screen and (min-width: 992px)and (max-width:1199px) {
    .people-list .center-block p {
        display:block;
        font-size: 28px
    }
}

@media only screen and (min-width: 120px)and (max-width:767px) {
    .people-list .center-block {
        display:block;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 26px;
        padding: 0 10px
    }

    .people-list .center-block p {
        font-size: 34px;
        padding: 0 30px
    }

    .people-list .center-block span {
        position: relative;
        top: 10px;
        left: 0
    }
}

@media only screen and (min-width: 768px)and (max-width:991px) {
    .people-list {
        padding-bottom:40px
    }
}

@media only screen and (min-width: 120px)and (max-width:767px) {
    .people-list {
        display:block;
        padding-bottom: 40px
    }
}

.team-member {
    flex-basis: 33.3333333333333%;
    position: relative;
    overflow: hidden;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    margin-right: -1px;
    min-height: 280px;
    max-height: 400px
}

.team-member .team-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.team-member.team-text {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #06b5ab;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-style: italic
}

.team-member.team-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.3)));
    background: linear-gradient(to bottom,transparent,rgba(0,0,0,.3))
}

.team-member img {
    height: 100%;
    min-height: 40%;
    width: 100%
}

.team-member .figcaption {
    position: absolute;
    left: 28px;
    bottom: 22px;
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out
}

.team-member .name,.team-member .title {
    display: block;
    color: #fff
}

.team-member .name {
    margin-bottom: 2px;
    font-size: 30px;
    font-weight: bold
}

@media only screen and (min-width: 1200px)and (max-width:1440px) {
    .team-member .name {
        font-size:25px
    }
}

.team-member .title {
    font-size: 16px;
    display: block;
    text-transform: uppercase
}

@media only screen and (min-width: 1200px)and (max-width:1440px) {
    .team-member .title {
        font-size:14px
    }
}

.team-member .overlay {
    opacity: 0;
    visibility: hidden
}

.team-member .overlay .name {
    letter-spacing: .01px;
    margin-bottom: 2px
}

.team-member .overlay p {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    margin: 19px 0 33px
}

@media only screen and (min-width: 1200px)and (max-width:1440px) {
    .team-member .overlay p {
        font-size:18px
    }
}

.team-member .overlay .read-more-btn {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase
}

.team-member .text {
    padding: 0 23px;
    position: absolute;
    bottom: 51px;
    left: 0
}

@media only screen and (min-width: 1200px)and (max-width:1440px) {
    .team-member .text {
        bottom:30px
    }
}

.team-member .text .read-more-btn span {
    margin-left: 10px
}

@media only screen and (min-width: 1200px) {
    .team-member:hover:not(.team-text) {
        -webkit-transform:scale(1.05);
        transform: scale(1.05);
        z-index: 10
    }

    .team-member:hover .overlay {
        -webkit-box-shadow: 22px 22px 44px rgba(0,0,0,.6);
        box-shadow: 22px 22px 44px rgba(0,0,0,.6);
        /*height: 101%;*/
        opacity: 1;
        visibility: visible;
        /*width: 101%*/
    }

    .team-member:hover .figcaption {
        opacity: 0;
        visibility: hidden
    }
}

@media only screen and (min-width: 992px)and (max-width:1199px) {
    .team-member .name {
        font-size:22px
    }

    .team-member .title {
        font-size: 14px
    }

    .team-member .overlay p {
        font-size: 16px;
        margin: 10px 0
    }

    .team-member .overlay .read-more-btn {
        font-size: 14px
    }

    .team-member .overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible
    }

    .team-member .text {
        bottom: 20px;
        padding: 0 16px
    }
}

@media only screen and (min-width: 768px)and (max-width:991px) {
    .team-member {
        -webkit-flex-basis:50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        overflow: hidden;
        max-height: 385px
    }

    .team-member .name {
        font-size: 25px
    }

    .team-member .title {
        font-size: 14px
    }

    .team-member img {
        width: auto;
        height: 100%;
        max-width: none;
        min-height: 388px;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        min-width: 100%
    }

    .team-member .overlay p {
        font-size: 18px
    }

    .team-member .overlay .read-more-btn {
        font-size: 14px
    }

    .team-member .overlay .name {
        font-size: 30px
    }

    .team-member .overlay .title {
        font-size: 16px
    }

    .team-member .overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible
    }

    .team-member .text {
        bottom: 57px;
        display: block;
        left: 6px
    }
}

@media only screen and (min-width: 120px)and (max-width:767px) {
    .team-member {
        -webkit-flex-basis:100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        overflow: hidden;
        max-height: 450px
    }

    .team-member.team-text {
        padding: 0;
        padding-bottom: 85%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .team-member .overlay .name {
        margin-bottom: 4px
    }

    .team-member .overlay p {
        font-size: 18px;
        display: block;
        margin: 20px -2px 29px
    }

    .team-member .overlay .read-more-btn {
        font-size: 14px
    }

    .team-member .overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible
    }

    .team-member img {
        width: auto;
        height: auto;
        max-width: none;
        min-height: 388px;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        min-width: 100%
    }

    .team-member .text {
        left: 6px;
        bottom: 30px
    }
}

@media(min-width: 320px)and (max-width:374px) {
    .team-member .overlay p {
        font-size:16px
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    z-index: 10;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(103,58,114,.75)),to(rgba(33,18,94,.75)));
    background: linear-gradient(to bottom,rgba(103,58,114,.75) 0%,rgba(33,18,94,.75) 100%);
    display: block
}




@media print, screen and (min-width: 37.5em){ /*desktop only*/
    .small-6.medium-3.colorize {
        flex: 0 0 20%;
        max-width:20%;
    }
    .colorize {
        height: 204px !important;
        max-height: 204px !important;
        text-align: center;
        display: table;
    }
    
    .colorize a {
        display: table-cell;
        text-align: center;
    }
    
    #companies .colorize img {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        max-width: 215px;
        max-height: 200px;
    }
}



.img-wrap {width: 350px;height: 350px;border-radius: 100%;overflow: hidden;}

.img-wrap img {object-fit: cover;}

figure.team-member {overflow: visible;display: flex;justify-content: center;align-content: center;align-items: center;margin-bottom: 2.2rem;}

.people-list {overflow: visible;}

.team-member a.overlay {
    height: 350px;
    width: 350px;
    border-radius: 350px;
    left: 50%;top: 50%;transform: translate(-50%, -50%);
}

.team-member .overlay .read-more-btn {display: none;}

.team-member .figcaption {left: 50%;transform: translateX(-50%);}