<!DOCTYPE html>
<html lang="en" style="">
{% block head %}
{% include 'parts/head.twig' %}
{% endblock %}
<body id="home" class="loaded {{ pageClass }}" style="">
    {% block hero %} 
    <div id="hero">
            <div class="container">
                <div class="row top-bar load">
                    <div class="logo small-12 medium-4 large-7 columns text-left">
                        <a href="/">
                            <img src="./assets/Razzaq-Capital-Logo-White.png">
                        </a>
                    </div>
                    <div class="small-12 medium-8 large-5 contact-us align-self-middle columns">
                        {% for item in menu %}
                            <a class="hero-link" href="{{item.to|e}}">{{ item.title|e }}</a>
                        {% endfor %}
                    </div>
                </div>            
            </div>
        </div>
    {% endblock %}
    {% block contents %}<h1>404- not found</h1>{% endblock %}
    
    {% block footer %}
        {% include "parts/footer.twig" %}
    {% endblock %}

    {% block scripts %}{% endblock %}


    {% if env.APP_ENVIRONMENT == 'local' %}
        <script type="module" src="http://127.0.0.1:3000/main.js"></script>
    {% else %}
        <script type="text/javascript" src="/dist/main.umd.js"></script>
    {% endif %}

</body>

</html>